/********************************************/
/* General */
/********************************************/
body {
	font-family: 'Arimo', sans-serif;
	font-size: 10px;
	color: rgba(100,100,100, 1);
	background: rgba(245, 245, 245, 1);
}


.main {
	position: relative;
	min-width: 320px;
}


.wrapper {	
	max-width: 520px;
	margin: 0 auto;
	top: 130px;
	position: relative;
	padding: 0 10px; 	
}

a {
	color: rgba(0,190,235,1);
	padding: 1px;
	border-radius: 2px;
	background-color: transparent;	
	transition: all 0.2s ease-in-out;	
}

a:hover {
	background-color: rgba(0,190,235,1);
	color: rgba(255,255,255,1);
}
/********************************************/
/* mainHeader */
/********************************************/
.feedback .mainHeader {
	padding-top: 40px;
}

.mainHeader {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	padding: 15px 10px;
	background-color: rgba(255,255,255, 0.95);
	box-shadow: 0px 1px 2px rgba(0,0,0, 0.15);
	min-width: 320px;
	z-index: 10;
	text-align: center;
}

h1 {
	font-size: 2.4em;
	color: rgba(80,80,80, 1);
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
	color: rgba(80,80,80, 1);
	font-weight: normal;
	margin-bottom: 15px;
}

nav a {
	text-transform: uppercase;
	padding: 7px;
	font-size: 1.2em;
	color: rgba(0,190,235,1);
	border-radius: 2px;
	background: transparent;	
	margin-right: 3px;
	transition: color 0.1s ease-in-out, background 0.3s ease-in-out;
}

nav a:last-child {margin-right: 0;}

nav a:hover {
	background-color: rgba(0,190,235,1);
	color: rgba(255,255,255,1);
}

nav a.active {
	background-color: rgba(0,190,235,1);
	color: rgba(255,255,255,1);
}

h3 {
	font-size: 1.8em;
	font-weight: normal;
	margin-bottom: 5px;
	text-align: center;
	line-height: 1.4em;
}

h4 {
	font-size: 1.6em;
	font-weight: normal;
	margin-bottom: 30px;
	font-style: italic;
	text-align: center;
	line-height: 1.4em;
}

/********************************************/
/* content */
/********************************************/
.content {margin-bottom: 60px;}

p {
	font-size: 1.4em;
	margin-bottom: 10px;
	line-height: 1.4em;
}

/* about */
.about img { 
	width: 140px;
	height: 140px;
	margin-bottom: 15px;
	border-radius: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.about p:last-child {
	margin-bottom: 0;
}

/* contact */
.contact {text-align: center;}

.contact li {
	list-style: none;
	font-size: 1.4em;
	line-height: 1.4em;
}

.contact i {
	font-size: 16px;
	padding-right: 5px;
	}

.contact ul {margin-bottom: 15px;}

/* form */
.field {margin-bottom: 15px;}

label {
	display: block;
	text-align:left;
	text-transform: uppercase;
	font-size: 1.2em;
	margin-bottom: 5px;
	}
	
::-webkit-input-placeholder {color:rgba(80,80,80, 1);}
::-moz-placeholder {color:rgba(80,80,80, 1);}
:-ms-input-placeholder {color:rgba(80,80,80, 1);}

input.text,
textarea {
	border: solid 1px rgba(80,80,80, 1);
	padding: 7px 10px;
	font-size: 1em;
	width: 100%;
	border-radius: 2px;
	background: rgba(252,252,252,1);
	font-family: 'Arimo', sans-serif;
	font-size: 1.2em;
	color: rgba(30,30,30, 1);
	transition: all 0.3s ease-in-out;	
	
}

input.text:hover,
textarea:hover {
	background: rgba(255,255,255,1);
	border: solid 1px rgba(20,20,20, 1);
}

input.text:focus,
textarea:focus {
	background: rgba(255,255,255,1);
	border: solid 1px rgba(0,0,0, 1);
	box-shadow: 0 1px 2px rgba(20,20,20, 0.3);
}

textarea {height: 90px;}

input.submit {
	width: 100%;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: rgba(255,255,255,1);
	background: rgba(0,190,235,1);
	font-size: 1.4em;
	border: none;
    -webkit-appearance: none;
    -webkit-border-radius:2px; 
    border-radius:2px;	
}

input.submit:hover {
	box-shadow: 0 3px 0 rgba(60,140,185,1);
}

input.submit:active {
	box-shadow: none;
	margin-top: 1px;
	margin-bottom: -1px;
	box-shadow: 0 -1px 0 rgba(60,140,185,1);	
}

/* portfolio */
.portfolio h4 {
	margin-bottom: 0px;
	text-transform: uppercase;
}
	
.portfolio .sample {
	position:relative;
	margin: 0 auto 15px;
	width: 220px;
}

.portfolio .sample a {
	background: rgba(255,255,255,1);
	width: 220px;
	height: 220px;
	border-radius: 110px;
    text-indent: -99999px;
    overflow: hidden;
    display: block;
   	border: solid 3px rgba(255,255,255,0);
}

.portfolio .sample:hover a {
	border: solid 3px rgba(255,255,255,1);
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.portfolio .social a.internacional {
	background: url("../img/lilaalves-social-internacional.png") -80px -100px;
}

.portfolio .social a.secti {background: url("../img/lilaalves-social-secti.png") 425px -200px;}
.portfolio .social a.gabinet {background: url("../img/lilaalves-social-gabinet.png") -290px -990px;}
.portfolio .assessoriac a.planetario {background: url("../img/lilaalves-assessoria-c-planetario.jpg") -50px 400px;}
.portfolio .assessoriac a.wcit {background: url("../img/lilaalves-assessoria-c-wcit.jpg") -50px -200px;}
.portfolio .assessoriai a.planetario {background: url("../img/lilaalves-assessoria-i-planetario.jpg") -200px -100px;}
.portfolio .text a.contas {background: url("../img/lilaalves-texto-contas.jpg") 0 0;}
.portfolio .text a.flyerNotaLegal {background: url("../img/lilaalves-texto-flyer-notalegal.jpg") -125px -2px;}
.portfolio .text a.panfletoNotaLegal {background: url("../img/lilaalves-texto-panfleto-notalegal.jpg") -300px -300px;}
.portfolio .multimedia a.coordenadoriaASCOM {background: url("../img/lilaalves-multimedia.png") -215px -45px;}
.portfolio .sites a.gpax {background: url("../img/lilaalves-sites-gpax.png") -505px -170px;}
.portfolio .sites a.aconchego {background: url("../img/lilaalves-sites-aconchego.png") -543px -55px;}

.portfolio .sample span {
	background: #909090;
	color: white;
	padding: 4px 4px 4px 8px;
	text-transform: uppercase;
	border-radius: 3px;
	position: absolute;
	bottom: 60px;
	left: -3px;
	font-size: 0.9em;
	transition: background-color 0.1s ease-in-out;	
}

.portfolio .sample:hover span {
	background: rgba(0,190,235,1);
	}

.portfolio .work {margin-bottom: 45px;}
.portfolio .work:last-child {margin-bottom: 0;}

/* feedback */
span.feedback {
	position: fixed;
	top: 0;
	padding: 7px;
	text-align: center;
	background-color: rgba(0,190,235,1);
	color: rgba(255,255,255,1);
	z-index: 100;
	font-size: 1.2em;
	width: 100%;
}

/* footer */
footer p {
	font-size: 1.2em;
	padding-bottom: 10px;
	text-align: center;
	
}

/********************************************/
/* Everybody has Media Queries :) */
/********************************************/

/********************************************/
/* .768px (iPad and more) */
/********************************************/
@media (min-width: 768px) {
	
}	

